name: Artifacts (Package)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually
  workflow_dispatch:

jobs:
  build-artifacts:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup problem matcher
      uses: Joshua-Ashton/gcc-problem-matcher@v1

    - name: Build release and run unit tests
      id: build
      uses: Joshua-Ashton/arch-mingw-github-action@v6
      with:
        command: |
          export VERSION_NAME="${GITHUB_REF##*/}-${GITHUB_SHA##*/}"
          ./package-release.sh "${VERSION_NAME}" build --no-package --enable-tests
          mkdir "${HOME}/dxvk-nvapi-wine-prefix"
          DXVK_NVAPI_LOG_LEVEL=info WINEPREFIX="${HOME}/dxvk-nvapi-wine-prefix" WINEDEBUG="-all" wine "./build/dxvk-nvapi-${VERSION_NAME}/x64/nvapi64-tests.exe" [@unit-tests]
          echo "::set-output name=VERSION_NAME::${VERSION_NAME}"

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dxvk-nvapi-${{ steps.build.outputs.VERSION_NAME }}
        path: build/dxvk-nvapi-${{ steps.build.outputs.VERSION_NAME }}
        if-no-files-found: error
